body, h1, h2, h3, h4, .nav__items ul, .planType__price p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav {
  background: #000;
  height: 50px;
}
.nav__logo a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  width: 50%;
  float: left;
}
.nav__logo--color, .header__info--color {
  color: #27C7AB;
}
.nav__items ul {
  float: right;
}
.nav__items li {
  color: #FFF;
  width: 100px;
  float: left;
  list-style-type: none;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  display: block;
  position: relative;
}
.nav__items li a {
  text-decoration: none;
  color: #FFF;
}
.nav__items li:hover {
  background: rgba(39, 199, 171, .5);
  position: relative;
}
.nav__items__detail ul {
  display: block;
  width: 100px;
  position: absolute;
  top: 60px;
  background: #000;
  font-size: 12px;
}
/*.nav__items__detail-list li {
  list-style-type: none;
  text-transform: capitalize;
  text-decoration: none;
  color: #FFF;
}*/
/*.nav__items__detail--arrow {
  display: block;
  position: absolute;
  top: -10px;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
}*/

.main__header {
  width: 100%;
  height: 550px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(145, 145, 145, 0) 32%, rgba(209, 209, 209, 0.13) 46%, rgba(204, 204, 204, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(145, 145, 145, 0) 32%, rgba(209, 209, 209, 0.13) 46%, rgba(204, 204, 204, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(145, 145, 145, 0) 32%, rgba(209, 209, 209, 0.13) 46%, rgba(204, 204, 204, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6cccccc', GradientType=0);
}
.header__chair, .header__info {
  margin-top: 100px;
  width: 35%;
  float: left;
}
.header__info {
  margin-top: 100px;
  width: 55%;
  float: left;
}
.header__arrow--right, .header__arrow--left {
  font-size: 90px;
  float: left;
  color: #27C7AB;
  line-height: 500px;
  text-decoration: none;
}
img[alt="czarny fotel"] {
  width: 550px;
  float: left;
}
img[alt="czerwony fotel"] {
  width: 350px;
  float: left;
  margin-left: 90px;
  margin-top: 50px;
}
.invisible {
  display: none;
}
.header__info h1 {
  margin-top: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
}
.header__info p {
  text-align: center;
  padding: 20px 90px;
  line-height: 25px;
}
.header__btn {
  background: #27C7AB;
  color: #FFF;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  font-weight: 300;
  width: 220px;
  margin: 0 220px;
}
.header__btn:hover, .form__submit button:hover {
  background: #00BA9A;
}
.foto {
  width: 400px;
  height: 280px;
  float: left;
  margin-top: 30px;
}
.foto1, .foto2, .foto3 {
  width: 380px;
  height: 250px;
  float: left;
  margin-top: 30px;
}
.foto1 {
  background: url('../images/box1_img.jpg');
  background-size: cover;
}
.foto2 {
  background: url('../images/box2_img.jpg');
  background-size: cover;
  margin-left: 29px;
  margin-right: 29px;
}
.foto3 {
  border: 1px solid #E1E1E1;
  height: 270px;
}
.foto3 article {
  padding: 0 20px;
}
.foto__text {
  width: 380px;
  height: 70px;
  background: rgba(231, 225, 224, .5);
  margin-top: 160px;
}
.foto__text p {
  margin: 20px;
  border-bottom: 5px solid #27C7AB;
  width: 145px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
}
.foto__text--underline {
  text-transform: uppercase;
}
h4.foto__text {
  background: 0;
  margin: 0;
  border-bottom: 5px solid #27C7AB;
  width: 145px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
}
.foto3>article>p {
  line-height: 25px;
  font-size: 13px;
}
.section__price {
  background: #F1F1F1;
  margin-top: 100px;
  width: 100%;
  height: 750px;
}
.section__price h2, .section__contact h2 {
  border-bottom: 5px solid #27C7AB;
  width: 380px;
  padding: 50px 0 10px 0;
  margin-bottom: 80px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.section__contact h2 {
  margin-bottom: 30px;
}
.planType {
  width: 380px;
  height: 500px;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  text-align: center;
  position: relative;
  float: left;
  background: #FFF;
}
.planType:hover, .planType:hover .planType__donut {
  background: #27C7AB;
  border: 1px solid #27C7AB;
}
.planType:hover h3 {
  color: #FFF;
}
.planType:hover button, .planType:hover .planType__price {
  background: #FFF;
  color: #27C7AB;
}
.planType:hover .planType__price {
  border: 1px solid #27C7AB;
}
.planType:hover .planType__donut::after, .planType:hover .planType__options ul li:nth-of-type(odd) {
  background: #FFF;
}
.planType:nth-of-type(2) {
  margin-left: 27px;
  margin-right: 27px;
}
.planType h3 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 30px;
  color: #27C7AB;
}
.planType__price {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #C2C2C2;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  font-size: 47px;
  color: #C2C2C2;
  font-weight: 700;
}
.planType__price p:first-child {
  padding-top: 35px;
}
.planType__price p:last-child {
  font-size: 16px;
}
.planType__price sup {
  font-size: 20px;
  margin-bottom: 30px;
}
.planType__donut {
  border: 1px solid #C2C2C2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  left: 161px;
  background: white;
}
.planType__donut::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  background: #C2C2C2;
  border-radius: 50%;
}
.planType__options ul {
  color: grey;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 40px 0 0 0;
}
.planType__options ul li:nth-of-type(even) {
  line-height: 35px;
  background: #F1F1F1;
}
.planType__options ul li:nth-of-type(odd) {
  line-height: 35px;
  background: #E4E4E4;
}
.section__price button {
  background: #27C7AB;
  color: #FFF;
  text-transform: uppercase;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 115px;
}
.section__price button:hover {
  background: #F1F1F1;
}





/*Gotowy css do choice*/
.dropdown__container {
  margin: 0 auto;
  width: 1000px;
}
.application {
  background-color: #f9f9f9;
  padding:30px 0;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}
.application header.align_right{
  text-align: right;
}
.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}
.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}
.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}
.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}
.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}
.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;
}
.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}
.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}
.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}
.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}
.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}
.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}
.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.show {
  display: block;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}
.title {
  height: 30px;
}
/*Koniec sekcji dropdown*/


input, textarea {
  width: 760px;
  border-radius: 5px;
  border: 1px solid #27C7AB;
  display: block;
  margin: 20px 0;
  font-size: 30px;
  padding: 10px;
  color: #000;
  outline: none;
  resize: none;
  overflow: hidden;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #E4E4E4;
  font-family: 'Raleway', sans-serif;
}
.form__submit {
  width: 318px;
  margin-left: 100px;
}
.form__user, .form__submit, .footer__copy, .footer__social, .footer__logo {
  float: left;
}
.form__submit img {
  width: 280px;
}
.form__submit p {
  font-size: 16px;
  display: inline-block;
  width: 270px;
  color: #E4E4E4;
  padding: 5px;
}
.checkbox__transport {
  display: inline-block;
  padding: 15px;
  font-size: 28px;
  color: lightgrey;
  font-weight: 600;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]+label {
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: 0;
  border: 1px solid #27C7AB;
  border-radius: 3px;
}
input[type=checkbox]:checked+label {
  background: url('../images/form_ok.jpg') no-repeat;
  background-size: contain;
  background-position: center;
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: 0;
}
.form__img {
  width: 300px;

}
.form__submit button {
  background: #27C7AB;
  color: #FFF;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  width: 320px;
}
.footer__copy {
  margin: 30px 0;
  width: 880px;
  color: #E4E4E4;
}
.footer__social {
  margin: 30px 0;
  width: 170px;
  position: relative;
}
.footer__logo {
  margin: 30px 0;
  width: 150px;
  text-transform: uppercase;
  text-align: right;
  color: #E4E4E4;
}
.footer__logo span {
  font-weight: 700;
}
/*Clearfix for every float*/
footer::after, nav::after, aside::after, .section__price::after, .section__contact::after {
  content: "";
  display: block;
  clear: both;
}
